[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/droidjam
[access "refs/for/refs/*"]
	read = group user/droidjam
	push = group user/droidjam
	label-Code-Review = -2..+2 group user/droidjam
	label-Verified = -1..+1 group user/droidjam
	rebase = group user/droidjam
	removeReviewer = group user/droidjam
	submit = group user/droidjam
[access "refs/heads/*"]
	read = group user/droidjam
	create = group user/droidjam
	push = +force group user/droidjam
	pushMerge = group user/droidjam
[access "refs/tags/*"]
	push = +force group user/droidjam
	pushTag = group user/droidjam
	pushSignedTag = group user/droidjam
